<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!-- Path relative to solution directory -->
    <ResultsDirectory>/home/jturks/development/proDev/testResults/</ResultsDirectory>
    <DisableParallelization>true</DisableParallelization>
    <MaxCpuCount>2</MaxCpuCount>
  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="LogLevel" value="Debug" />
    <Parameter name="LogName" value="WebTest" />
    <Parameter name="BaseUrl" value="https://www.google.com" />
    <Parameter name="DriverServerLocation" value="/home/jturks/development/proDev/seleniumDrivers/" />
    <Parameter name="Timeout" value="10" />
    <Parameter name="OutputFileDirectory" value="/home/jturks/development/proDev/testResults" />
    <Parameter name="OutputFileScreenshotsDirectory" value="/home/jturks/development/proDev/testResults/screenshotsDirectory" />
    <Parameter name="LoginWaitTime" value="1" />
    <Parameter name="NavigateToBasePage" value="false" />
    <Parameter name="ForceKillProcess" value="true" />
    <Parameter name="Headless" value="false" />
    <Parameter name="BrowserType" value="chrome" />
    <Parameter name="BrowserProfile" value="default" />
    <Parameter name="EnableDetailedLogging" value="false" />
    <Parameter name="UseSeleniumGrid" value="true" />
    <Parameter name="SeleniumGridUrl" value="http://moon.aerokube.local/wd/hub" />
    <Parameter name="CalculatorHomePageUrl" value="https://autotestmate.info/calculator" />
    <Parameter name="UseAop" value="true" />
  </TestRunParameters>
    <MSTest>
    <Parallelize>
      <Workers>2</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>
</RunSettings>
