<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!-- Please note that relative home directory not support and needs to be explicit, i.e ~/.local/share/autotestmate/logs -->
    <ResultsDirectory>/home/sportyturks/.local/share/autotestmate/logs/test-results/</ResultsDirectory>
    <!-- [x86] | x64    - You can also change it from menu Test, Test Settings, Default Processor Architecture -->
    <TargetPlatform>x64</TargetPlatform>
    <DisableParallelization>false</DisableParallelization>
    <MaxCpuCount>3</MaxCpuCount>
  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="LogLevel" value="Debug" />
    <Parameter name="LogName" value="WebTest" />
    <Parameter name="BaseUrl" value="https://www.google.com" />
    <Parameter name="DriverServerLocation" value="~/.local/share/autotestmate/logs/selenium-drivers" />
    <Parameter name="Timeout" value="10" />
    <Parameter name="OutputFileDirectory" value="~/.local/share/autotestmate/logs/test-results" />
    <Parameter name="OutputFileScreenshotsDirectory" value="~/.local/share/autotestmate/logs/test-results/screenshots-directory" />
    <Parameter name="LoginWaitTime" value="1" />
    <Parameter name="NavigateToBasePage" value="false" />
    <Parameter name="ForceKillProcess" value="false" />
    <Parameter name="Headless" value="false" />
    <Parameter name="BrowserType" value="chrome" />
    <Parameter name="BrowserProfile" value="default" />
    <Parameter name="BrowserVersion" value="124.0" />
    <Parameter name="BrowserOs" value="Linux" />
    <Parameter name="EnableDetailedLogging" value="false" />
    <Parameter name="UseSeleniumGrid" value="true" />
    <Parameter name="SeleniumGridUrl" value="wss://local-moon.automation.delivery/playwright/chrome/playwright-1.49.1" />
    <Parameter name="UseAppSettings" value="false" />
    <Parameter name="CalculatorHomePageUrl" value="https://local-calculator.automation.delivery/web" />
    <Parameter name="UseAop" value="true" />
  </TestRunParameters>
    <MSTest>
    <Parallelize>
      <Workers>3</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
  </MSTest>
</RunSettings>
